[Unit]
Description=SimplyPrint startup service

[Service]
Type=oneshot
ExecStart=sudo bash /home/root/bin/simplyprint_start.sh

[Install]
WantedBy=multi-user.target
