[Unit]
Description=SimplyPrint startup service
After=octoprint
After=bluetooth

[Service]
Type=oneshot
User=root
ExecStart=/home/root/bin/simplyprint_start.sh

[Install]
WantedBy=multi-user.target
